<div class="container-fluid h-100 flex-wrap d-flex p-5">


    <h1>Pokemon Page Works!</h1>
    <div class="w-100">
        <main-navigation></main-navigation>
    </div>


    <div class="row w-100">

        <div class="col">
            <pokemon-card></pokemon-card>
        </div>
        <div class="col">
            <pokemon-card></pokemon-card>
        </div>
        <div class="col">
            <pokemon-card></pokemon-card>
        </div>
        <div class="col">
            <pokemon-card></pokemon-card>
        </div>
        <div class="col">
            <pokemon-card></pokemon-card>
        </div>
        <div class="col">
            <pokemon-card></pokemon-card>
        </div>
        <div class="col">
            <pokemon-card></pokemon-card>
        </div>
        <div class="col">
            <pokemon-card></pokemon-card>
        </div>
        <div class="col">
            <pokemon-card></pokemon-card>
        </div>
        <div class="col">
            <pokemon-card></pokemon-card>
        </div>


    </div>


</div>
