@import "../../../../../styles/variables";

:host {

  button {
    background-color: $pokemon-grey;
    color: white;
    font-weight: 700;
    border: 0;
    padding: .5rem 3rem;

    &.active {
      background-color: $pokemon-red;
    }
  }
}
