@import "../../../../../styles/variables";

#top, #bottom, #left, #right {
  background: $pokemon-red;
  position: fixed;
  z-index: 999;
}

#left, #right {
  top: 0;
  bottom: 0;
  width: 8px;
}

#left {
  left: 0;
}

#right {
  right: 0;

}

#top, #bottom {
  left: 0;
  right: 0;
  height: 8px;
}

#top {
  top: 0;
}

#bottom {
  bottom: 0;
}
