$pokemon-red: #ED1E24;

$dark-grey: #070707;
$light-grey: #919191;

$dark-text: #212121;

//POKEMON COLOURS
$fire-red: #fd7d24;
$grass-green: #9bcc50;
$poison-purple: #b97fc9;
$water-blue: #4592c4;
$bug-green: #729f3f;
$flying-blue: linear-gradient(180deg, #3dc7ef 50%, #bdb9b8 50%);
$normal-grey: #a4acaf;
$electric-yellow: #eed535;
$ground-yellow: linear-gradient(180deg, #f7de3f 50%, #ab9842 50%);
$fairy-pink: #fdb9e9;
$fighting-brown: #d56723;
$psychic-pink: #f366b9;
$rock-brown: #a38c21;
$steel-silver: #9eb7b8;
$ice-blue: #51c4e7;
$ghost-purple: #7b62a3;
$dragon-blue: linear-gradient(180deg, #53a4cf 50%, #f16e57 50%);

$default-font: "Muli", SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !default;

$font-family-sans-serif: "Muli";
$font-family-monospace: "Muli", SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !default;
$font-family-base: $font-family-sans-serif !default;
// stylelint-enable value-keyword-case

$font-size-base: 1rem !default; // Assumes the browser default, typically `16px`
$font-size-lg: $font-size-base * 1.25 !default;
$font-size-sm: $font-size-base * .875 !default;

$font-weight-lighter: lighter !default;
$font-weight-light: 300 !default;
$font-weight-normal: 400 !default;
$font-weight-bold: 700 !default;
$font-weight-bolder: bolder !default;

$font-weight-base: $font-weight-normal !default;
$line-height-base: 1.5 !default;

$h1-font-size: $font-size-base * 2.5 !default;
$h2-font-size: $font-size-base * 2 !default;
$h3-font-size: $font-size-base * 1.75 !default;
$h4-font-size: $font-size-base * 1.5 !default;
$h5-font-size: $font-size-base * 1.25 !default;
$h6-font-size: $font-size-base !default;
