@import "./styles/variables";
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/root";
@import "~bootstrap/scss/reboot";
@import "~bootstrap/scss/type";
@import "~bootstrap/scss/images";
@import "~bootstrap/scss/code";
@import "~bootstrap/scss/grid";
@import "~bootstrap/scss/tables";
@import "~bootstrap/scss/forms";
@import "~bootstrap/scss/buttons";
@import "~bootstrap/scss/transitions";
@import "~bootstrap/scss/dropdown";
@import "~bootstrap/scss/button-group";
@import "~bootstrap/scss/input-group";
@import "~bootstrap/scss/custom-forms";
@import "~bootstrap/scss/nav";
@import "~bootstrap/scss/navbar";
@import "~bootstrap/scss/card";
@import "~bootstrap/scss/breadcrumb";
@import "~bootstrap/scss/pagination";
@import "~bootstrap/scss/badge";
@import "~bootstrap/scss/jumbotron";
@import "~bootstrap/scss/alert";
@import "~bootstrap/scss/progress";
@import "~bootstrap/scss/media";
@import "~bootstrap/scss/list-group";
@import "~bootstrap/scss/close";
@import "~bootstrap/scss/toasts";
@import "~bootstrap/scss/modal";
@import "~bootstrap/scss/tooltip";
@import "~bootstrap/scss/popover";
@import "~bootstrap/scss/carousel";
@import "~bootstrap/scss/spinners";
@import "~bootstrap/scss/utilities";
@import "~bootstrap/scss/print";

.bg-darker {
    background-color: #ECF7F1;
}

.col-1\.5 {
    width: 14.2%;
}

h4, h6 {
    font-family: $default-font;
}

.type {
    padding-bottom: 3px;
    padding-top: 1px;
    padding-right: 5px;
    padding-left: 5px;
    text-align: center;
    border-radius: 3px;

    &.normal {
        background-color: $normal-grey;
        color: $dark-text;
    }

    &.fire {
        background-color: $fire-red;
        color: $white;
    }

    &.fighting {
        background-color: $fighting-brown;
        color: $white;
    }

    &.poison {
        background: #B97FC9;
        color: white;
    }

    &.grass {
        background: #9BCC50;
        color: $dark-text
    }


    &.flying {
        background: $flying-blue;
        color: $dark-text

    }

    &.water {
        background-color: $water-blue;
        color: $white;
    }

    &.grass {
        background-color: $grass-green;
        color: $dark-text;
    }

    &.electric {
        background-color: $electric-yellow;
        color: $dark-text;
    }

    &.ground {
        background: $ground-yellow;
        color: $dark-text;
    }

    &.psychic {
        background-color: $psychic-pink;
        color: $white;
    }

    &.rock {
        background-color: $rock-brown;
        color: $white;
    }

    &.ice {
        background-color: $ice-blue;
        color: $dark-text
    }

    &.bug {
        background-color: $bug-green;
        color: $white;
    }

    &.dragon {
        background: $dragon-blue;
        color: $white;
    }

    &.ghost {
        background-color: $ghost-purple;
        color: $white;
    }

    &.steel {
        background-color: $steel-silver;
        color: $dark-text;
    }

    &.fairy {
        background-color: $fairy-pink;
        color: $dark-text;
    }
}
