<a class="container-fluid d-block flex-1 border my-2 px-2 pb-2 shadow-sm bg-light">
  <div>
    <img src="{{pokemon.img}}" alt="Image not found"/>
  </div>
  <div class="card-body p-0 text-left">
    <h5 class="mb-0">{{ pokemon.id | pokeNo}}</h5>
    <h4 class="mb-0">{{ pokemon.name | titlecase | pokemonGender}}</h4>
    <div class="row m-0 justify-content-center pt-1">
      <span *ngIf="typeOne" [ngClass]="typeOne?.type.name"
            class="type col-5 mr-1 text-center px-0">{{ typeOne?.type.name | titlecase}}</span>
      <span *ngIf="typeTwo" [ngClass]="typeTwo?.type.name"
            class="type col-5 ml-1 text-center px-0">{{ typeTwo?.type.name | titlecase}}</span>
    </div>
  </div>
</a>
